# Data directories
/raw_data/
processed_data/

# Virtual environment
/venv/

# Log files
/logs/

# Python bytecode cache
__pycache__/

# Models directory (keep only .gitkeep)
models/*
!models/.gitkeep
/containers/rakuten-ml/__pycache__